In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

data['profit']=data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
answers['1'] = '5.Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [9]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd
data_1 = pd.read_csv('movie_bd_v5.xls')
# сортируем бюджет по возрастанию
data_1 = data_1.sort_values('budget', ascending=False)
# 5 верхних вариантов
data_1.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
answers['2'] = '2.Gods and Generals (tt0279111)'

In [17]:

import pandas as pd
data_2 = pd.read_csv('movie_bd_v5.xls')
# сортируем время по возрастанию
data_2 = data_2.sort_values('runtime', ascending=False)
# 5 верхних вариантов
data_2.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = '3.Winnie the Pooh (tt1449283)'

In [16]:
import pandas as pd
data_3 = pd.read_csv('movie_bd_v5.xls')
# сортируем время по возрастанию
data_3 = data_3.sort_values('runtime', ascending=False)
# 5 нижних результатов
data_3.tail()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2.110'

In [19]:
import pandas as pd
data_4 = pd.read_csv('movie_bd_v5.xls')
# выводим описание датафрейма
data_4.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '1.107'

In [ ]:
import pandas as pd
data_6 = pd.read_csv('movie_bd_v5.xls')
# добавляем столбец "profit"
data_6['profit']=data_6['revenue']-data_6['budget']

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = '5.Avatar (tt0499549)'

In [20]:
import pandas as pd
data_6 = pd.read_csv('movie_bd_v5.xls')
# добавляем столбец "profit"
data_6['profit']=data_6['revenue']-data_6['budget']
# сортируем по возрастанию прибыли
data_6 = data_6.sort_values('profit', ascending=False)
# выводим 5 верхних строк
data_6.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = '5.The Lone Ranger (tt1210819)'

In [26]:
import pandas as pd
data_7 = pd.read_csv('movie_bd_v5.xls')
data_7['profit']=data_7['revenue']-data_7['budget']
# сортируем по возрастанию прибыли
data_7 = data_7.sort_values('profit', ascending=False)
# выводим 5 последних строк
data_7.tail()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006,-84540684
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,4.6,2002,-92896027
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1.1478'

In [30]:
import pandas as pd
data_8 = pd.read_csv('movie_bd_v5.xls')
# отбираем фильмы со сбором больше бюджета
data_8 = data_8[data_8.revenue > data_8.budget]
# выводим таблицу
display (data_8)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '4.The Dark Knight (tt0468569)'

In [ ]:
import pandas as pd
data_9 = pd.read_csv('movie_bd_v5.xls')
data_9['profit']=data_9['revenue']-data_9['budget']
# выделяем фильмы 2008 года и сортируем по прибыли
data_9 = data_9.loc[(data_9['release_year']== 2008)].sort_values(by='profit')
# выводим таблицу
display (data_9)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5.The Lone Ranger (tt1210819)'

In [31]:
import pandas as pd
data_10 = pd.read_csv('movie_bd_v5.xls')
data_10['profit']=data_10['revenue']-data_10['budget']
# выбираем фильмы между 2012 и 2014 годами и сортируем по прибыли
data_10 = data_10.loc[(data_10['release_year']<= 2014) &(data_10['release_year']>=2012)].sort_values(by='profit')
# выводим таблицу
display (data_10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = '3.Drama'

In [ ]:
import pandas as pd
data_11 = pd.read_csv('movie_bd_v5.xls')
# разделяем жанры и считаем количество
data_11 =  pd.Series(data_11['genres'].str.cat(sep='|').split('|')).value_counts()
# выводим таблицу
display(data_11)

In [0]:
# вариант 2
data_11.index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1.Drama'

In [32]:
import pandas as pd
data_12 = pd.read_csv('movie_bd_v5.xls')
# разделяем жанры
data_12['genres'] = data_12['genres'].apply(lambda x:x.split('|'))
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict

genres_dict = {}

data_12['genres'].apply(genres_count)

genres_series = pd.Series(genres_dict).sort_values(ascending=False)
# выводим таблицу
display(genres_series)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [0]:
answers['13'] = '5.Peter Jackson'

In [34]:
import pandas as pd
data_13 = pd.read_csv('movie_bd_v5.xls')
# разделяем режиссёров
data_13['director'] = data_13['director'].apply(lambda x:x.split('|'))
data_director=data_13.explode('director')
# суммируем кассовые сборы и сортируем по величине
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = '3.Robert Rodriguez'

In [ ]:

import pandas as pd
from collections import Counter

data_14 = pd.read_csv('movie_bd_v5.xls')

# выделяем строки, в которых содержится Action
data_14 = data_14[data_14.genres.str.contains('Action', na = False)]
# считаем, у какого режиссёра таких значений больше
collections.Counter(data_14['director'].str.cat(sep = '|').split('|')).most_common(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = '3.Chris Hemsworth'

In [42]:
data_15 = pd.read_csv('movie_bd_v5.xls')
# разделяем актёров
data_15['cast'] = data_15['cast'].apply(lambda x:x.split('|'))
# выбираем 2012
data_15 = data_15[data_15['release_year'] == 2012]
data_cast=data_15.explode('cast')
# сортируем по самым высоким кассовым сборам
data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '3.Matt Damon'

In [ ]:
data_16=pd.read_csv('movie_bd_v5.xls')
# разделяем актёров
data_16['cast'] = data_16['cast'].apply(lambda x: x.split('|'))
data_director=data.explode('cast')
# выделяем актёров с бюджетом выше среднего
data_director.loc[data_director['budget']> data_director['budget'].mean()]['cast'].value_counts(ascending=False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = '2.Action'

In [43]:
data_17=pd.read_csv('movie_bd_v5.xls')
# выделяем строки с Николасов Кеёджем
answers_17=data_17[data_17.cast.str.contains('Nicolas Cage')]
# Выделяем наиболее часто встречающийся жанр
Counter(answers_17.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '1.K-19: The Widowmaker (tt0267626)'

In [44]:
data_18=pd.read_csv('movie_bd_v5.xls')
data_18['profit']=data_18['revenue']-data_18['budget']
# выделяем строки, содержащие Парамаунт Пикчерз
data_pp = data_18[data_18.production_companies.str.contains('Paramount Pictures')]
# сортируем по прибыли
data_18 = data_pp.sort_values('profit', ascending=False)
# выводим 5 последних строк
data_18.tail()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '3.2012'

In [ ]:
data = pd.read_csv('movie_bd_v5.xls')
data_release_year.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '1.2014'

In [50]:
data_20 = pd.read_csv('movie_bd_v5.xls')
data_20['profit']=data_20['revenue']-data_20['budget']
# выделяем строки, содержащие Ворнер Броз.
data_wb = data_20[data_20.production_companies.str.contains('Warner Bros')]
# группируем по году и сумме прибыли, сортируем по увеличению
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '5.Сентябрь'

In [51]:
data_21=pd.read_csv('movie_bd_v5.xls')
# разделяем даты релиза
data_21.release_date = data_21.release_date.apply(lambda x: x.split('/'))
# выделяем месяц в отдельный столбец
data_21['month']=data_21['release_date'].apply(lambda x: x[0])
# сортируем столбец месяц
data_21['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2.450'

In [ ]:
data_22=pd.read_csv('movie_bd_v5.xls')
# разделяем даты релиза
data_22.release_date = data_22.release_date.apply(lambda x: x.split('/'))
# выделяем месяц в отдельный столбец
data_22['month']=data_22['release_date'].apply(lambda x: x[0])
# свожу в таблицу летние месяцы
pivot = data_22.loc[data_22['month'].isin(['6','7','8'])]
# вывожу таблицу
display(pivot)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = '1.Steven Soderbergh'

In [52]:
data_23 = pd.read_csv('movie_bd_v5.xls')
# разделяю режиссёров
data_23['director'] = data_23['director'].apply(lambda x:x.split('|'))
# разделяю даты релизов
data_23.release_date = data_23.release_date.apply(lambda x: x.split('/'))
# выделяю месяц
data_23['month']=data_23['release_date'].apply(lambda x: x[0])
# объединяю замние месяцы
pivot = data_23.loc[data_23['month'].isin(['12','1','2'])]
# вывожу в порядке возрастания
pivot['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = '5.Four By Two Productions'

In [53]:
data_24=pd.read_csv('movie_bd_v5.xls')
data_24['name_length'] = data_24.original_title.apply(lambda x: len(x))
data_24['production_companies_list'] = data_24.production_companies.str.split("|")
production_companies_df = data_24.explode('production_companies_list')
answers24 = production_companies_df.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]
print(answers24)

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = '1.Universal Pictures'

In [54]:
data_25=pd.read_csv('movie_bd_v5.xls')
data_25['production_companies']=data_25['production_companies'].apply(lambda x:x.split("|"))
data_pc25=data_25.explode('production_companies')
data_pc25['wordsnumber']=data_pc25['overview'].str.split().apply(len)
data_pc25 = data_pc25.sort_values('wordsnumber', ascending=False)
data_pc25.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,wordsnumber
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films,8/7/2008,5.7,2008,175
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Midnight Picture Show,8/7/2008,5.7,2008,175
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,GreeneStreet Films,8/7/2008,5.7,2008,175
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lakeshore Entertainment,8/7/2008,5.7,2008,175
170,tt1267297,100000000,243400000,Hercules,Dwayne Johnson|Ian McShane|John Hurt|Rufus Sew...,Brett Ratner,"Before he was a legend, he was a man.","Fourteen hundred years ago, a tormented soul w...",99,Action|Adventure,Flynn Picture Company,7/23/2014,5.6,2014,169

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'

In [55]:
data_26 = data.sort_values('vote_average')[['original_title', 'vote_average']]
data_26.query('vote_average >= vote_average.quantile(0.99)').\
    sort_values('vote_average', ascending=False).\
    head(10)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
118                                    Interstellar           8.0
34                                             Room           8.0
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
138                        The Grand Budapest Hotel           7.9
1183                        The Wolf of Wall Street           7.9
370                                       Inception           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

answers['27'] = '5.Daniel Radcliffe & Rupert Grint'

In [56]:
data_27=pd.read_csv('movie_bd_v5.xls')
data_27['cast']=data_27['cast'].apply(lambda x: x.split('|'))
from itertools import combinations
data_27['pairs'] = data_27['cast'].apply(lambda s: list(combinations(s, 2)))
display(data_27)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,pairs
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,"[(Chris Pratt, Bryce Dallas Howard), (Chris Pr..."
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,"[(Tom Hardy, Charlize Theron), (Tom Hardy, Hug..."
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,"[(Shailene Woodley, Theo James), (Shailene Woo..."
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,"[(Harrison Ford, Mark Hamill), (Harrison Ford,..."
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,"[(Vin Diesel, Paul Walker), (Vin Diesel, Jason..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,"[(Patrick Stewart, Hugh Jackman), (Patrick Ste..."
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,"[(Richard E. Grant, Jonathan Lipnicki), (Richa..."
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,"[(Rene Russo, Jason Alexander), (Rene Russo, P..."
1887,tt0162983,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,"[(Meg Ryan, Diane Keaton), (Meg Ryan, Lisa Kud..."
1888,tt0163676,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,"[(Susan Ward, Lori Heuring), (Susan Ward, Matt..."

# Submission